* {
    font-family: system-ui, Roboto;
}

body {
    margin: 0;
}

/* header */

.header {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    margin: 0;
    padding: 0;
    padding: 0px 98px 0px 98px;
    justify-content: center;
    gap: 300px;
}
.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
}

.headerlinks > ul{
    display: flex;
    gap: 18px;
    list-style-type: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.heroimage > img{
    border: none;
}

/* container1 - hero text */

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    height: 400px;
    gap: 150px;
}

.container1left {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 10px;
}
.herotext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.herosubtext {
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
}
button {
    background-color: #3882F6;
    width: 125px;
    border-radius: 12px;
    border-style: none;
    color: #F9FAF8;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
}

/* container2 - information header */
.container2 {
    height: 400px;
}
.informationheader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 40px 0px 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.images > ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
    padding: 0;
}

p {
    width: 150px;
    text-align: center;
    color: gray;
}

img {
    border: solid;
    border-color: #3882F6;
    border-radius: 5px;
}

/* container 3 - quote section */

.container3 {
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 800px;
}

.container3 > p{
    font-weight: 900;
    align-self: flex-end;
    width: 1100px;
    color: black;
}

/* container 4 - call to action */

.container4all{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4{
    background-color: #3882F6;
    width: 800px;
}

.container4left{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.calltoaction {
     font-size: 18px;
     color: #F9FAF8;
}

.container4 > p{
    font-size: 14px;
    max-width: fit-content;
}

/*footer*/

.footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footertext {
    color: #E5E7EB;
}